{% extends "user_default.html" %} {% block title %}Profile{%endblock%} {% block
header %} {% endblock %} {%block content%}

<div class="container">
  <div class="card mt-5">

    <div class="card-body">
      <div style="width: 100%">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          <span>{{ message }}</span>
        </div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="row m-5">
          <div class="col-auto" >
              <img src="{{ url_for('static', filename='images/password.jpg') }}" width="400px" alt="">
          </div>
          <div class="col p-5">
            <form action="/profile" method="post">
              <div class="mb-3">
                <label for="prevpass" class="form-label">Previous Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="prevpass"
                  name="prevpass"
                  required
                />
              </div>
              <div class="mb-4">
                <label for="newpass" class="form-label">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="newpass"
                  name="newpass"
                  required
                />
              </div>
              <div class="mb-4">
                <label for="confirmpass" class="form-label">Re-Enter Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmpass"
                  name="confirmpass"
                  required
                />
              </div>
              <button
              type="submit"
              class="btn btn-success w-100 " 
              name="action"
              value="ChangePassword"
            >
            <i class="fa fa-key" aria-hidden="true"></i> Change password
              </button>
        </form>
          </div>   
      </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
